<main>
    <div class="galeria">
        <h3>Galería</h3>
        <a class=" foto" href="./images/galeria/accidentes.jpg" data-lightbox="example-set" data-title="Accidentes"><img
                class="example-image" src="./images/galeria/accidentes.jpg" alt="" />
            <div class="Descripcion">Accidentes </div>
        </a>

        <a class=" foto" href="./images/galeria/contratos.jpg" data-lightbox="example-set" data-title="Contratos"><img
                class="example-image" src="./images/galeria/contratos.jpg" alt="" />
            <div class="Descripcion">Contratos </div>
        </a>
        <a class=" foto" href="./images/galeria/divorcio.jpg" data-lightbox="example-set" data-title="Divorcios"><img
                class="example-image" src="./images/galeria/divorcio.jpg" alt="" />
            <div class="Descripcion">Divorcios </div>
        </a>
        <a class=" foto" href="./images/galeria/impuestos.jpg" data-lightbox="example-set" data-title="Impuestos"><img
                class="example-image" src="./images/galeria/impuestos.jpg" alt="" />
            <div class="Descripcion">Impuestos </div>
        </a>
        <a class=" foto" href="./images/galeria/pensiones.jpg" data-lightbox="example-set"
            data-title="Pensiones y jubilaciones"><img class="example-image" src="./images/galeria/pensiones.jpg" alt="" />
            <div class="Descripcion">Jubilaciones y Pensiones </div>
        </a>
        <a class=" foto" href="./images/galeria/sucesiones.jpg" data-lightbox="example-set" data-title="Sucesiones"><img
                class="example-image" src="./images/galeria/sucesiones.jpg" alt="" />
            <div class="Descripcion">Sucesiones </div>
        </a>

    </div>
</main>

<script src="./javascripts/script.js"></script>
<script src="./javascripts/lightbox-plus-jquery.js"></script>
