<main>
    <h3>Novedades</h3>
    
    <div class="Novedades">
        {{#each Nov}}
            <div class="Novedad">
                <h3>{{this.titulo}}</h3>
                <h4>{{this.fecha}}</h4>
                <p>{{this.contenido}}</p>
            </div>
        {{/each}}
    </div>
    

</main>
